<script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" type="text/javascript"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>

<div data-role="page" id="map-page" data-url="map-page">
    <div data-role="header" data-theme="a">
    	<h1>Map</h1>
    	<a href="#popupNested" data-rel="popup" class="ui-btn ui-corner-all ui-btn-inline ui-icon-bars ui-btn-icon-left" data-transition="pop">Filter</a>
    	<a href="/list" class="ui-btn ui-corner-all ui-btn-inline ui-icon-check ui-btn-icon-left" data-transition="flow">List View</a>
		<div data-role="popup" id="popupNested" data-theme="none">
		<form>
		    <fieldset data-role="controlgroup">
		        <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a">
		        <label for="checkbox-v-2a">One</label>
		        <input type="checkbox" name="checkbox-v-2b" id="checkbox-v-2b">
		        <label for="checkbox-v-2b">Two</label>
		        <input type="checkbox" name="checkbox-v-2c" id="checkbox-v-2c">
		        <label for="checkbox-v-2c">Three</label>
		    </fieldset>
		</form>
		</div><!-- /popup -->
    </div>
    <div role="main" class="ui-content" id="map-canvas">
        <!-- map loads here... -->
    </div>
    <div data-role="footer" data-theme="a">
    	<div data-role="navbar">
	    	<ul>
	    		<li><a href="/" class="ui-btn" data-transition="flow">Map</a></li>
	    		<li><a href="/info" class="ui-btn" data-transition="flow">Information</a></li>
	    	</ul>
    	</div>
    </div>
</div>



<script type="text/javascript">
/*
 * Google Maps documentation: http://code.google.com/apis/maps/documentation/javascript/basics.html
 * Geolocation documentation: http://dev.w3.org/geo/api/spec-source.html
 */
$( document ).on( "pagecreate", "#map-page", function() {
    var defaultLatLng = new google.maps.LatLng(34.0983425, -118.3267434);  // Default to Hollywood, CA when no geolocation support
    if ( navigator.geolocation ) {
        function success(pos) {
            // Location found, show map with these coordinates
            drawMap(new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude));
        }
        function fail(error) {
            drawMap(defaultLatLng);  // Failed to find location, show default map
        }
        // Find the users current position.  Cache the location for 5 minutes, timeout after 6 seconds
        navigator.geolocation.getCurrentPosition(success, fail, {maximumAge: 500000, enableHighAccuracy:true, timeout: 6000});
    } else {
        drawMap(defaultLatLng);  // No geolocation support, show default map
    }
    
    function drawMap(latlng) {
        var myOptions = {
            zoom: 13,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
        // Add an overlay to the map of current lat/lng
        var marker = new google.maps.Marker({
            position: latlng,
            animation: google.maps.Animation.BOUNCE,
            map: map,
            icon: "https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-366116804000/robbery.png?AWSAccessKeyId=ASIAIAHAI5J5SDERO37Q&Expires=1399573182&Signature=RuqzXVA5wY7pJdW7x46t/IBHSOs%3D&x-amz-security-token=AQoDYXdzEKr//////////wEakAJggTr34PRmMi97t9L1KbDPB7WnXyeepUYQXay%2BQuwU2YqQdWdk77iGwo5iNwWOXtQImUvist5LVy598bT1u1DyzSfJTEpBA%2Brttlc8m0HI5UqV/aVh2aS0HVGjoq/Ja1Bz6Rd8ksN7aFnw2NcD3Egoaz6XjvPKc4rpE97Iwm9ayKEswQEAZyKKw7pOBpKZF2gkOlZWq1lNhqRt7zg9V2wa5P89D%2Bu30yOpk8JdIr2sxS1aFYwauZKn2UkZramXCAI%2BskUv5daHeV52LohbnFKO6Msd9hYllVE3/Ki123rTEWJvN4bXNiVaRNBmyCFq/UI5l%2Bk4Qp4x1jl6Y5/mF1jY1yawar1FCAnmWeLQU5l/USDD8a6bBQ%3D%3D",
      
        });
        
      var locationArray = [["test testtesttesttest", 41.873503, -87.633032],["test2 testtesttesttesttest", 41.858482, -87.625307],["test3 testtesttesttesttest", 41.886412, -87.615265]]  
      
      console.log(locationArray)
      
      locationArray.map( function(item) {
		  var contentString = item[0];
	
		  var infowindow = new google.maps.InfoWindow({
		      content: contentString,
		      maxWidth: 250,
		      minWidth: 250,
		      maxHeight: 150,
		      minHeight: 100,
		  });
	        
	      var myLatlng = new google.maps.LatLng(item[1],item[2]);
	
		  // To add the marker to the map, use the 'map' property
		  var marker2 = new google.maps.Marker({
		      position: myLatlng,
		      map: map,
		  });
		
		  google.maps.event.addListener(marker2, 'click', function() {
		    infowindow.open(map,marker2);
		  });  
	 	  
	  })
        
	}  
	  
});




</script>


<style>

#map-page, #map-canvas { width: 100%; height: 93%; padding: 0; }

.ui-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}


</style>
