<div data-role="page" id="map-page" data-url="map-page">
    <div data-role="header" data-theme="a">
    	<h1>Information</h1>
    </div>
    <div role="main" class="ui-content" id="map-canvas">
        <!-- map loads here... -->
    </div>
    <div data-role="footer" data-theme="a">
    	<div data-role="navbar">
	    	<ul>
	    		<li><a href="/" class="ui-btn" data-transition="flow">Map</a></li>
	    		<li><a href="/updates" class="ui-btn" data-transition="flow">Information</a></li>
	    	</ul>
    	</div>
    </div>
</div>


<style>

#map-page, #map-canvas { width: 100%; height: 80%; padding: 0; }
</style>