<div data-role="page">
    <div data-role="header" data-theme="a">
    	<h1>Profile</h1>
    </div>
    <div>
        
    </div>
    <div data-role="footer" data-theme="a">
    	<div data-role="navbar">
	    	<ul>
	    		<li><a href="/" class="ui-btn" data-transition="flow">Activities Map</a></li>
	    		<li><a href="/user" class="ui-btn" data-transition="flow">Profile</a></li>
	    		<li><a href="/partner" class="ui-btn" data-transition="flow">Partners</a></li>
	    	</ul>
    	</div>
    </div>
</div>
