<div data-role="page">
    <div data-role="header" data-theme="a">
    	<h1>Information</h1>
    	<a href="/" class="ui-btn ui-corner-all ui-btn-inline ui-icon-navigation ui-btn-icon-left" data-transition="flow">Map</a>
    </div>
	<div role="main" class="ui-content">
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Find location..." data-filter-theme="a" data-inset="true">
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location1</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location2</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location3</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location4</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location5</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location6</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location7</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location8</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		    <li><a href="url"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2>Location9</h2><p>this is sample text that can be displayed on each li.</p></a></li>
		</ul>
	</div>
    <div data-role="footer" data-theme="a">
    	<div data-role="navbar">
	    	<ul>
	    		<li><a href="/map" class="ui-btn" data-transition="flow">Map</a></li>
	    		<li><a href="/" class="ui-btn" data-transition="flow">Information</a></li>
	    	</ul>
    	</div>
    </div>
</div>


