<div data-role="page">
    <div data-role="header" data-theme="a">
    	<h1>Activities List</h1>
    	<a href="/" class="ui-btn ui-corner-all ui-btn-inline ui-icon-navigation ui-btn-icon-left" data-transition="flow">Map</a>
    </div>
	<div role="main" class="ui-content">
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Find location..." data-filter-theme="a" data-inset="true">
			<% @activity_list.each do |activity| %>
		    <li><a href="<% activity.web %>"><img alt="alt..." src="http://m1.behance.net/rendition/modules/23112153/disp/ae3e95175b244454f5a4fb74d14bc42a.jpg" /><h2><%= activity.name%></h2><p><%= activity.description %></p></a></li>
		    <% end %>
		</ul>
	</div>
    <div data-role="footer" data-theme="a">
    	<div data-role="navbar">
	    	<ul>
	    		<li><a href="/" class="ui-btn" data-transition="flow">Activities Map</a></li>
	    		<li><a href="/user" class="ui-btn" data-transition="flow">Profile</a></li>
	    		<li><a href="/partner" class="ui-btn" data-transition="flow">Partners</a></li>
	    	</ul>
    	</div>
    </div>
</div>


